<html>
	<head>
         <style>
           table, th, td {
             border: 1px solid black;
             border-collapse: collapse;
            }
           th, td {
             padding: 15px;
            }
         </style>

	</head>
	<body>
		<h1>TOTAL NO OF PATIENTS:{{patients}}</h1>     
		<table style="width:100%">
                        <tr>
                          <th>PATIENT NAME</th>
                          <th>EMAIL-ID</th>
                        </tr>

                     {% for result in hlist %}
                     <tr>
                     {% for elem in result %}
                     <td>{{elem}}</td>
                     {% endfor %}
                     {% endfor %}
                     </tr>
                     </table>
            </body>
</html
