<html>
        <head>
        </head><html>
        <head>
        </head>
        <body>
		<form align="center" action="/doctorregister" method="POST">
          
                
                DOCTOR-ID:
                <input type="text" name=doctorid></input></br>
                DOCTOR-NAME:
                <input type="text" name=doctorname ></input></br>
                QUALIFICATIONS:
                <input type="text" name=qualification > </br>
                SERVICES:
                <input type="text" name=services > </br>
                
                </br>
                        
                        SELECT WORKING TIME:</br>
                        MORNING :</br>
                        FROM :<input type="time" name="mfrom"> 
                        TO :<input type="time" name="mto"></br>  
                        AFTERNOON :</br>
                        FROM :<input type="time" name="afrom"> 
                        TO :<input type="time" name="ato"></br> 
                        AVERAGE TIME TAKEN TO TREAT A PATIENT:<input type="time" name="avgtime"></br>
                      
                        <input type="submit" name="submit"></form>
        </body>
</html>
