<html>
	<head>
        </head>
	<body>
	        <p>{{idno}}</p>
		<form  align="center" action="/adddoctors" method="post">
		<label>
		DOCTOR-ID:
                <input type="text" name=doctorid></input>
		</label></br>
		<label>
                DOCTOR-NAME:
                <input type="text" name=doctorname ></input>
                </label>
                </br> <label>
                QUALIFICATIONS:
                <input type="text" name=qualification ></input>
                </label>
                </br><label>
                SERVICES:
                <input type="text" name=services ></input>
                </label>
                </br>
		<input type="submit" name=submit></input>
	
	</body>
</html>
		
