<html>
	<form  align="center" action="/print" method="post">
	        <fieldset>
                <legend>HOSPITAL REGISTRATION:</legend>
	        </br>
		NAME:
                <input type="text" name=name ></input>
		</br>
		CUSTOMER-CARE-NUMBER:
		<input type="text" name=number ></input>
		</br>
		CUSTOMER-CARE- EMAIL-ID:
                <input type="text" name=email ></input>
		</br>
		SERVICES:
		<input type="text" name=services></input>
		</br>
		ADDRESS:
		<input type="text" name=address></input>
		</br>
		CITY:
                <input type="text" name=city></input>
		</br>
		STATE:
                <input type="text" name=state ></input>
		</br>
		PASSWORD:
		<input type="password" name=password ></input>
		</br>
		REENTER -PASSWORD:
                <input type="password" name=password ></input>
		</br>
		<input type="submit" name=submit ></input>        
                </fieldset>
	        
	</form>
</html>
