<html>
	<body>
		<h1 align="center">USER-REGISTRATION</h1> 
	</body>
	<form  align="center" action="/print" method="post">
		<label>
		NAME:
		<input type="text" name=name ></input>
		</label>
		</br> <label>
                MOBILE-NO:
                <input type="text" name=number ></input>
                </label>
		</br><label>
                EMAIL-ID:
                <input type="text" name=email ></input>
                </label>
                </br><label>
                CITY:
                <input type="text" name=city></input>
                </label>
		</br><label>
                STATE:
                <input type="text" name=state ></input>
                </label>
		</br><label>
		PASSWORD:
		<input type="password" name=password ></input>
		</label>
		</br>
		<input type="submit" name=submit ></input>        
	</form>
        

        <h1 align="center">HOSPITAL-REGISTRATION</h1>
	<form  align="center" action="/addhospital" method="post">
                <label>
                NAME:
                <input type="text" name=name ></input>
                </label>
                </br> <label>
                CUSTOMER-CARE-NO:
                <input type="text" name=number ></input>
                </label>
                </br><label>
                CUSTOMER-CARE-EMAIL-ID:
                <input type="text" name=email ></input>
		</br> </label>
		SERVICES:
                <label>
	        <input type="text" name=services ></input>
                </br></label>
                ADDRESS:
                <label>
                <input type="text" name=address ></input>
                </br></label>
		<label>
                CITY:
                <input type="text" name=city></input>
                </label>
                </br><label>
                STATE:
                <input type="text" name=state ></input>
                </label>
                </br><label>
                PASSWORD:
                <input type="password" name=password ></input>
                </label>
                </br>
                <input type="submit" name=submit ></input>
        </form>





</html>

