<html>
	<head>
        <style>
        </style>
	</head>
	<body>
	    <form align ="center" action="/addtimeslottousertable" method="POST"> 
	   
            <h1>MORNING TIME SLOTS</h1>
                        
             <div class="morning-time-slots">
		     {% for todo in mlist %}
		     <input type="radio"  value={{todo}} name=time />{{todo}}	    
		     {% endfor %}
	     </div>
	    <h1>AFTERNOON TIME SLOTS</h1>
	     <div class="morning-time-slots">
		     {% for todo in alist %}
                      <input type="radio"  value={{todo}} name=time />{{todo}}
		     {% endfor %}
             </div>
             </br>
	     </br>
	     
	     <input type="submit">
	    </form>
	
	
	</body>
</html

