<html>
	<form  align="center" action="/print" method="post">
	        <fieldset>
                <legend>USER REGISTRATION:</legend>
		<label>
	        NAME:
                <input type="text" name=name ></input>
                </label>
                </br> 
	         <label>
                EMAIL-ID:
                <input type="text" name=email ></input>
                </label>
                </br><label>
                CITY:
                <input type="text" name=city></input>
                </label>
		</br><label>
                STATE:
                <input type="text" name=state ></input>
                </label>
		</br><label>
		PASSWORD:
		<input type="password" name=password ></input>
		</label>
	        </br>
		<label>
                REENTER -PASSWORD:
                <input type="password" name=password ></input>
                </label>
		</br>
		<input type="submit" name=submit ></input>        
                </fieldset>
	        
	</form>
</html>
